.search-input{
    width: 400px;
    height: 40px;
}
.search_results-block{
    position: absolute;
    height: 165px;
    background-color: aliceblue;
    overflow-y: auto;
}
.search_results-element{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    width: 400px;
    margin-left: -35px;
    margin-top: 10px;
    border: 1px solid #f068ea;
    z-index: 999;
}
.search_results-element:hover{
    background-color: rgb(206, 232, 255);

}
.search_results-img{
    width: 70px;
    height: 70px;
}