/* Основной стиль для слайдов */


/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
    .slick-slide {
        margin: 0 auto; /* Центрируем слайды по горизонтали */
        width: 80%; /* Ограничиваем ширину слайда для мобильных устройств */
    }

    .slick-track {
        display: flex;
        justify-content: center; /* Центрируем слайды внутри трека */
    }

    .slick-list {
        overflow: hidden; /* Убираем лишний скролл */
    }
}
