.catalog_list-blok {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
}

.catalog_list-blok li {
    margin-top: 20px;
}

.container-catalog {
    width: 90%;
    margin: 0 auto;
    display: flex;
}