.filters{
    background-color: #F58DEF;
}
.filters-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
}
.filters-list li{
    cursor: pointer;
    padding: 20px;
}
.filters-list li:hover{
    background-color: #f068ea;
}
.filters_elements-block{
    position: absolute;
    margin-top: 20px;
    margin-left: -20px;
}
.filters_element{
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid;
}
.filters_element:hover{
    background-color: rgb(211, 232, 251);

}